@import "~rsuite/lib/styles/themes/dark/index.less";
@import "./gonid-theme.less";

@H050: #f2fffe;
@H100: #defffd;
@H200: #c4fffc;
@H300: #abfffc;
@H400: #91fffd;
@H500: #77ffff;
@H600: #56f2f5;
@H700: #34dbe0;
@H800: #15b9c2;
@H900: #008f99;
@base-color: #77ffff;
@border-radius-base: 5px;

@info-color: #2196f3;
@info-light-color: #e9f5fe;

@divider-border-color: #D9329E;

@success-color: #4caf50;
@success-light-color: #edfae1;

@warning-color: #ffb300;
@warning-light-color: #fff9e6;

@error-color: #f44336;
@error-light-color: #fde9ef;